#click-photo{
    display: block;
    transform: translate(10px, -150%);
    padding: .5em 1em;
}

#reset-and-calculate-buttons{
    display: block;
    transform: translate(10px, -150%);
    padding: 1em 1.5em;
}
#reset-photo, #calculate{
    padding: .5em 1em;
}
div img{
    position: absolute;
    top: 10px;
    left: 10px;
}
#canvas{
    display: none;
}
#zoom {
    border: 1px black solid;
    box-shadow: 5px 5px 10px #1e1e1e;
    position: absolute; 
    top: 0; 
    left: 0; 
    display: none
}